Kotlin/.idea/
Kotlin/out/
Kotlin/*.class

Kotlin/*.iml

# Created by https://www.gitignore.io/api/gradle

### Gradle ###
Kotlin/.gradle
Kotlin/**/build/

# Ignore Gradle GUI config
Kotlin/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
Kotlin/!gradle-wrapper.jar

# Cache of project
Kotlin/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# End of https://www.gitignore.io/api/gradle
.DS_Store
TypeScript/.idea
TypeScript/node_modules
TypeScript/typings
TypeScript/app/**/*.js
TypeScript/app/**/*.js.map
TypeScript/test/**/*.js
TypeScript/test/**/*.js.map
TypeScript/coverage
TypeScript/.nyc_output
TypeScript/package-lock.json

.idea
